{% extends 'flatpages/default.html' %}


{% block title %}
Authors
{% endblock title %}

{% block content %}
{% load cache %}
{% cache 300 h1 %}
<h1>Все авторы</h1>
{% endcache %}
<h3>Количество авторов: {{ authors|length }}</h3>
<hr>
<center>
    {% if authors %}
        <table>
            <tr>
                <td><b>Имя автора</b></td>
                <td><b>Рейтинг</b></td>
                <td><b>Статьи</b></td>
            </tr>
            {% for author in authors %}
            <tr>
                <td><a href="{% url 'author' author.id %}">{{ author.author_user }}</a></td>
                <td>{{ author.ratting_author}}</td>
                <td>Перейти</td>
            </tr>
            {% endfor %}
        </table>
</center>
    {% else %}
        <h2>Список авторов пуст!</h2>
    {% endif %}
{% endblock content %}